*.log
.idea
node_modules
pnpm-lock.yaml
.editorconfig
.gitignore
.npmrc
.junie
biome.json
/lint-staged.config.js
/vitest.config.mjs
/examples
/assets
/packages
/scripts
/.nyc_output
/.husky
.github
/docs
/tmp
tsconfig.json
tsconfig.solid.json
tsconfig.types.react.json
tsconfig.types.solid.json
pnpm-workspace.yaml
/test-results