*.log
.idea
node_modules
pnpm-lock.yaml
.editorconfig
.gitignore
.npmrc
biome.json
/lint-staged.config.js
/vitest.config.mjs
/examples
/assets
/packages
/scripts
/.nyc_output
/.husky
.github
/docs
tsconfig.json
tsconfig.solid.json
tsconfig.types.react.json
tsconfig.types.solid.json