:root {
  --vp-c-brand-1: #6231b6;
  --vp-button-brand-bg: #6231b6;
  --vp-button-brand-hover-bg: #542a9c;
}

:root.dark {
  --vp-code-color: #bb9ee1;
}

.table-td {
  pre {
    padding: 10px 0 !important;
  }
  code {
    padding: 0 10px !important;
  }
  .vp-block {
    margin: 0 !important;
  }
  .copy,
  .lang {
    display: none !important;
  }
}
